/* Variables */
$font-size:13px;
$width:350px;
$padding:0px;
$bk_color:#ffffff;
$hl_color:#3875d7;



/* Functions */
@function calc-em($target-px, $context:$font-size) {
  @return ($target-px / $context) * 1em;
}
@mixin shadow($specs, $specs2:"false") {
  @if $specs2 != "false" {
    -webkit-box-shadow: $specs, $specs2;
    -moz-box-shadow: $specs, $specs2;
    box-shadow: $specs, $specs2;
  } @else {
    -webkit-box-shadow: $specs;
    -moz-box-shadow: $specs;
    box-shadow: $specs;
  }
}
/* Shared Classes */
%grad_grey {
  background-color:darken($bk_color, 11);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{darken($bk_color, 4)}', endColorstr='#{darken($bk_color, 7)}', GradientType=0 );
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, darken($bk_color, 4)), color-stop(50%, darken($bk_color, 6)), color-stop(52%, darken($bk_color, 9)), color-stop(100%, darken($bk_color, 7)));
  background-image: -webkit-linear-gradient(top, darken($bk_color, 4) 20%, darken($bk_color, 6) 50%, darken($bk_color, 9) 52%, darken($bk_color, 7) 100%);
  background-image: -moz-linear-gradient(top, darken($bk_color, 4) 20%, darken($bk_color, 6) 50%, darken($bk_color, 9) 52%, darken($bk_color, 7) 100%);
  background-image: -o-linear-gradient(top, darken($bk_color, 4) 20%, darken($bk_color, 6) 50%, darken($bk_color, 9) 52%, darken($bk_color, 7) 100%);
  background-image: linear-gradient(darken($bk_color, 4) 20%, darken($bk_color, 6) 50%, darken($bk_color, 9) 52%, darken($bk_color, 7) 100%);
}


/* @group Base */
.chzn-container {
  font-size: $font-size;
  width:$width !important;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
  .chzn-drop {
    background: $bk_color;
    border: calc-em(1px) solid darken($bk_color, 33);
    border-top: 0;
    position: absolute;
    top: calc-em(29px);
    left: 0;
    @include shadow(0 calc-em(4px) calc-em(5px) rgba(0,0,0,.15));
    z-index: 1010;
  }
  /* @group Results */
  .chzn-results {
    margin: 0 calc-em(4px) calc-em(4px) 0;
    max-height: calc-em(240px);
    padding: 0 0 0 calc-em(4px);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    li {
      display: none;
      line-height: calc-em(15px);
      padding: calc-em(5px) calc-em(6px);
      margin: 0;
      list-style: none;
    }
    .active-result {
      cursor: pointer;
      display: list-item;
    }
    .highlighted {
      background-color: $hl_color;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$hl_color}', endColorstr='#{adjust_hue(saturate(darken($hl_color, 3), 0), 4)}', GradientType=0 );
      background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, $hl_color), color-stop(90%, adjust_hue(saturate(darken($hl_color, 3), 0), 4)));
      background-image: -webkit-linear-gradient(top, $hl_color 20%, adjust_hue(saturate(darken($hl_color, 3), 0), 4) 90%);
      background-image: -moz-linear-gradient(top, $hl_color 20%, adjust_hue(saturate(darken($hl_color, 3), 0), 4) 90%);
      background-image: -o-linear-gradient(top, $hl_color 20%, adjust_hue(saturate(darken($hl_color, 3), 0), 4) 90%);
      background-image: linear-gradient($hl_color 20%, adjust_hue(saturate(darken($hl_color, 3), 0), 4) 90%);
      color: $bk_color;
    }
    li em {
      background: #feffde;
      font-style: normal;
    }
    .highlighted em {
      background: transparent;
    }
    .no-results {
      background: darken($bk_color, 4);
      display: list-item;
    }
    .group-result {
      cursor: default;
      color: darken($bk_color, 40);
      font-weight: bold;
    }
    .group-option {
      padding-left: calc-em(15px);
    }
  }
  .chzn-results-scroll {
    background:$bk_color;
    margin: 0 calc-em(4px);
    position: absolute;
    text-align: center;
    width: calc-em(321px); /* This should by dynamic with js */
    z-index: 1;
    span {
      display: inline-block;
      height: calc-em(17px);
      text-indent: calc-em(-5000px);
      width: calc-em(9px);
    }
  }
  .chzn-results-scroll-down {
    bottom: 0;
    span {
      background: url('chosen-sprite.png') no-repeat -4px -3px;
    }
  }
  .chzn-results-scroll-up span {
    background: url('chosen-sprite.png') no-repeat -22px -3px;
  }
}
.chzn-select {
  width:$width !important;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single {
  .chzn-single {
    background-color: $bk_color;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$bk_color}', endColorstr='#{darken($bk_color, 7)}', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, $bk_color), color-stop(50%, darken($bk_color, 6)), color-stop(52%, darken($bk_color, 7)), color-stop(100%, darken($bk_color, 4)));
    background-image: -webkit-linear-gradient(top, $bk_color 20%, darken($bk_color, 6) 50%, darken($bk_color, 7) 52%, darken($bk_color, 4) 100%);
    background-image: -moz-linear-gradient(top, $bk_color 20%, darken($bk_color, 6) 50%, darken($bk_color, 7) 52%, darken($bk_color, 4) 100%);
    background-image: -o-linear-gradient(top, $bk_color 20%, darken($bk_color, 6) 50%, darken($bk_color, 7) 52%, darken($bk_color, 4) 100%);
    background-image: linear-gradient($bk_color 20%, darken($bk_color, 6) 50%, darken($bk_color, 7) 52%, darken($bk_color, 4) 100%);
    border-radius: calc-em(5px);
    background-clip: padding-box;
    border: calc-em(1px) solid darken($bk_color, 33);
    @include shadow(0 0 calc-em(3px) $bk_color inset, 0 calc-em(1px) calc-em(1px) rgba(0,0,0,0.1));
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: calc-em(23px + $padding);
    line-height: calc-em($font_size * 2);
    padding: calc-em($padding) calc-em($padding) calc-em($padding) calc-em($padding + 8px);
    color: darken($bk_color, 73);
    text-decoration: none;
    span {
      margin-right: calc-em(26px);
      display: block;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    abbr {
      display: block;
      position: absolute;
      right: calc-em(26px);
      top: calc-em(6px);
      width: calc-em(12px);
      height: calc-em(12px);
      font-size: calc-em(1px);
      background: url('chosen-sprite.png') -42px 1px no-repeat;
      &:hover {
        background-position: -42px -10px;
      }
    }
    div {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      height: 100%;
      width: calc-em(18px);
      b {
        background: url('chosen-sprite.png') no-repeat 0px 2px;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .chzn-default {
    color: darken($bk_color, 40);
  }
  .chzn-container-single.chzn-disabled .chzn-single abbr:hover {
    background-position: -42px -10px;
  }
  .chzn-search {
    padding: calc-em(3px) calc-em(4px);
    position: relative;
    margin: 0;
    white-space: nowrap;
    z-index: 1010;
  }
  .chzn-search input {
    background: $bk_color url('chosen-sprite.png') no-repeat 100% -20px;
    background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, darken($bk_color, 7)), color-stop(15%, $bk_color));
    background: url('chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(top, darken($bk_color, 7) 1%, $bk_color 15%);
    background: url('chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(top, darken($bk_color, 7) 1%, $bk_color 15%);
    background: url('chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(top, darken($bk_color, 7) 1%, $bk_color 15%);
    background: url('chosen-sprite.png') no-repeat 100% -20px, linear-gradient(darken($bk_color, 7) 1%, $bk_color 15%);
    margin: calc-em(1px) 0;
    padding: calc-em(4px) calc-em(20px) calc-em(4px) calc-em(5px);
    outline: 0;
    border: calc-em(1px) solid darken($bk_color, 33);
    font-family: sans-serif;
    font-size: 1em;
  }
  .chzn-drop {
    border-radius: 0 0 calc-em(4px) calc-em(4px);
    background-clip: padding-box;
  }
  &.chzn-rtl {
    .chzn-single div b {
      background-position: 6px 2px;
    }
    .chzn-single-with-drop div b {
      background-position: -12px 2px;
    }
  }
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: calc-em(-9000px);
}

/* @group Multi Chosen */
.chzn-container-multi {
  .chzn-choices {
    background-color: $bk_color;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, darken($bk_color, 7)), color-stop(15%, $bk_color));
    background-image: -webkit-linear-gradient(top, darken($bk_color, 7) 1%, $bk_color 15%);
    background-image: -moz-linear-gradient(top, darken($bk_color, 7) 1%, $bk_color 15%);
    background-image: -o-linear-gradient(top, darken($bk_color, 7) 1%, $bk_color 15%);
    background-image: linear-gradient(darken($bk_color, 7) 1%, $bk_color 15%);
    border: calc-em(1px) solid darken($bk_color, 33);
    margin: 0;
    padding: 0;
    cursor: text;
    overflow: hidden;
    height: auto !important;
    height: 1%;
    position: relative;
    li {
      float: left;
      list-style: none;
    }
    .search-field {
      white-space: nowrap;
      margin: 0;
      padding: 0;
      input {
        color: darken($bk_color, 60);
        background: transparent !important;
        border: 0 !important;
        font-family: sans-serif;
        font-size: 100%;
        height: calc-em(15px);
        padding: calc-em(5px);
        margin: calc-em(1px) 0;
        outline: 0;
        @include shadow(none);
      }
      .default {
        color: darken($bk_color, 40);
      }
    }
    .search-choice {
      border-radius: calc-em(3px);
      background-clip: padding-box;
      @extend %grad_grey;
      @include shadow(0 0 calc-em(2px) $bk_color inset, 0 calc-em(1px) 0 rgba(0,0,0,0.05));
      color: darken($bk_color, 80);
      border: calc-em(1px) solid darken($bk_color, 33);
      line-height: calc-em(13px);
      padding: calc-em(3px) calc-em(20px) calc-em(3px) calc-em(5px);
      margin: calc-em(3px) 0 calc-em(3px) calc-em(5px);
      position: relative;
      cursor: default;
      &.search-choice-disabled {
        @extend %grad_grey;
        color: darken($bk_color, 60);
        border: calc-em(1px) solid darken($bk_color, 20);
        padding-right: calc-em(5px);
      }
      .search-choice-close {
        display: block;
        position: absolute;
        right: 3px;
        top: 4px;
        width: 12px;
        height: 12px;
        font-size: 1px;
        background: url('chosen-sprite.png') -42px 1px no-repeat;
        &:hover {
          background-position: -42px -10px;
        }
      }
    }
    .search-choice-focus {
      background: darken($bk_color, 17);
      .search-choice-close {
        background-position: -42px -10px;
      }
    }
  }
  /* Results */
  .chzn-results {
    margin: calc-em(-1px) 0 0;
    padding: 0;
  }
  .chzn-drop .result-selected {
    display: none;
  }
}
/* @end */



/* @group Active  */
.chzn-container-active .chzn-single {
  @include shadow(0 0 calc-em(5px) rgba(0,0,0,.3));
  border: calc-em(1px) solid saturate(lighten($hl_color, 7), 1);
  .chzn-single-with-drop {
    border: calc-em(1px) solid darken($bk_color, 33);
    @include shadow(0 calc-em(1px) 0 $bk_color inset);
    background-color: darken($bk_color, 7);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{darken($bk_color, 7)}', endColorstr='#{$bk_color}', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, darken($bk_color, 7)), color-stop(80%, $bk_color));
    background-image: -webkit-linear-gradient(top, darken($bk_color, 7) 20%, $bk_color 80%);
    background-image: -moz-linear-gradient(top, darken($bk_color, 7) 20%, $bk_color 80%);
    background-image: -o-linear-gradient(top, darken($bk_color, 7) 20%, $bk_color 80%);
    background-image: linear-gradient(darken($bk_color, 7) 20%, $bk_color 80%);
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
    div {
      background: transparent;
      border-left: none;
      b {
        background-position: -18px 2px;
      }
    }
  }
  .chzn-choices {
    @include shadow(0 0 calc-em(5px) rgba(0,0,0,.3));
    border: calc-em(1px) solid saturate(lighten($hl_color, 7), 1);
  }
  .chzn-choices .search-field input {
    color: darken($bk_color, 93) !important;
  }
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
  opacity:0.5 !important;
  &, .chzn-single, .chzn-choices .search-choice .search-choice-close {
    cursor: default;
  }
}

/* @group Right to Left */
.chzn-rtl {
  text-align: right;
  .chzn-single {
    padding: 0 calc-em(8px) 0 0;
    overflow: visible;
    span {
      margin-left: calc-em(26px);
      margin-right: 0;
      direction: rtl;
    }
    div {
      left: calc-em(3px);
      right: auto;
    }
    abbr {
      left: calc-em(26px);
      right: auto;
    }
  }
  .chzn-choices {
    .search-field input {
      direction: rtl;
    }
    li {
      float: right;
    }
    .search-choice {
      padding: calc-em(3px) calc-em(5px) calc-em(3px) calc-em(19px);
      margin: calc-em(3px) calc-em(5px) calc-em(3px) 0;
      .search-choice-close {
        left: 4px;
        right: auto;
      }
    }
  }
  &.chzn-container-single .chzn-results {
    margin: 0 0 calc-em(4px) calc-em(4px);
    padding: 0 calc-em(4px) 0 0;
  }
  .chzn-results .group-option {
    padding-left: 0;
    padding-right: calc-em(15px);
  }
  &.chzn-container-active .chzn-single-with-drop div {
    border-right: none;
  }
  .chzn-search input {
    background: $bk_color url('chosen-sprite.png') no-repeat -30px -20px;
    background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, darken($bk_color, 7)), color-stop(15%, $bk_color));
    background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(top, darken($bk_color, 7) 1%, $bk_color 15%);
    background: url('chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(top, darken($bk_color, 7) 1%, $bk_color 15%);
    background: url('chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(top, darken($bk_color, 7) 1%, $bk_color 15%);
    background: url('chosen-sprite.png') no-repeat -30px -20px, linear-gradient(darken($bk_color, 7) 1%, $bk_color 15%);
    padding: calc-em(4px) calc-em(5px) calc-em(4px) calc-em(20px);
    direction: rtl;
  }
}
/* @end */

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi)  {
  .chzn-rtl .chzn-search input, .chzn-container-single .chzn-single abbr, .chzn-container-single .chzn-single div b, .chzn-container-single .chzn-search input, .chzn-container-multi .chzn-choices .search-choice .search-choice-close, .chzn-container .chzn-results-scroll-down span, .chzn-container .chzn-results-scroll-up span {
      background-image: url('chosen-sprite@2x.png') !important;
      background-repeat: no-repeat !important;
      background-size: 52px 37px !important;
  }
}
/* @end */
